.LinkReact {
  text-decoration: none;
  color: Black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;

  height: 50px;
  width: 100px;
  background: #e3e3e3;
}


.item {
  display: flex;
  flex-direction: row;

  width: 800px;
  height: 228px;
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  margin: 10px;
  //background-color: #3c3e44;
  //color: white;

  &__info {
    display: flex;
    flex-direction: column;
    //align-items: center;
    //justify-content: center;
    margin-left: 20px;
    line-height: 1px;
    padding: 20px;

  }
  img {
    border-radius: 10px 0 0 10px;
    width: 228px;
    height: 228px;
  }

  a {
    align-self: center;
    margin-right: 30px;
    margin-left: auto;
  }
}

.List {
  display: flex;
  flex-direction: column;
  align-items: center;
  //background: rgb(39,43,51);


  // див посередине с карточками и фильтрацией
  &__content {
    display: flex;
    flex-direction: row;
  }
  &__filtering {
    width: 100%;
    height: 100%;

  }
  &__items {
    width: 1000px;
  }

  &__placeAdButton {
    width: 700px;
    margin: 20px 0 15px 0;
  }

}


.itemDetailed {
  display:flex;
  flex-direction: row;
  border: 2px solid black;
  border-radius: 10px;
  width: 1000px;
  height: 400px;
}

.formContainer {
  img{
    width: 100px;
    height: 100px;
  }
}
